  .channelTabs-favContainer {
    background: var(--main-transparency) !important;
  }
  .titleBar-AC4pGV {
    background: var(--main-transparency) !important;
  }
  .channelTabs-tabContainer {
    background: var(--main-transparency) !important;
  }