    /* Pinned messages & recent mentions */
      /* Background */
  .messagesPopoutWrap-1MQ1bW {
    background: url(/BD/DOOM/images/PopoutBG.jpg);
    background-position: center;
    background-size: cover;
  }
    /* Making the popout longer */
  .messagesPopoutWrap-1MQ1bW{
    width: 500px;
  }
    /* Support for media plugin */
  .messagesPopoutWrap-1MQ1bW .anchor-3Z-8Bb {
    padding-left: 20px;
    padding-top: 5px;
  }
    /* Moves username down to avatar */
  .messagesPopoutWrap-1MQ1bW .header-23xsNx {
    padding-top: 10px;
  }
    /* Moves content of the popout down and to the left */
  .messagesPopoutWrap-1MQ1bW .messageContent-2qWWxC {
    padding-top: 20px;
    padding-left: 80px;
  }
    /* Unread */
    /* Background */
  .recentMentionsPopout-3rCiI6 {
    background: url(/BD/DOOM/images/PopoutBG.jpg);
    background-position: center;
  }
    /* Making the popout longer */
  .recentMentionsPopout-3rCiI6 {
    width: 500px;
  }
    /* Support for media plugin */
  .recentMentionsPopout-3rCiI6 .anchor-3Z-8Bb {
    padding-left: 20px;
    padding-top: 5px;
  }
    /* Moves username down to avatar */
  .recentMentionsPopout-3rCiI6 .header-23xsNx {
    padding-top: 10px;
  }
    /* Moves content of the popout down and to the left */
  .recentMentionsPopout-3rCiI6 .messageContent-2qWWxC {
    padding-top: 20px;
    padding-left: 80px;
  }
    /* Pin popout */
      /* Makes the box longer */
  .focusLock-Ns3yie .small-3iVZYw {
    width: 600px;
  }
    /* Moves the username, timestamp etc on the popout */
  .message-2qRu38 .header-23xsNx {
    padding-top: 8px;
    padding-left: 65px;
  }
    /* Moves the avatar on the popout */
  .message-2qRu38 .avatar-1BDn8e {
    padding-left: 1px;
    margin-top: 0%;
  }
    /* Moves the content of the popout down and to the left */
  .message-2qRu38 .messageContent-2qWWxC {
    padding-left: 80px;
    padding-top: 10px;
  }
    /* Search results */
      /* Increase the width */
  .searchResultsWrap-3-pOjs {
    width: 510px;
  }
    /* Make content area lengthier */
  .searchResultsWrap-3-pOjs .contents-2mQqc9 {
    min-height: 50px;
  }
    /* Move username and timestamp etc to the left */
  .searchResultsWrap-3-pOjs .username-1A8OIy {
    padding-left: 60px;
  }
    /* Move message content down */
  .searchResultsWrap-3-pOjs .messageContent-2qWWxC {
    padding-top: 30px;
    padding-left: 80px;
  }
    /*    Notes plugin */
      /* Moves the avatar */
  .contents-2mQqc9 .avatar-1BDn8e {
    padding-top: 0px;
  }
  /* Moves the username, timestamp etc to the left */
  .layer-v9HyYc .headerText-3Uvj1Y {
    padding-left: 65px;
  }
    /* Keyword matches plugin */
      /* Removes the timestamp  */
  .focusLock-Ns3yie .timestamp {
    display: none;
  }
    /* Channel tabs rename popout */
      /* Box repositioning */
  .focusLock-Ns3yie .content-mK72R6 {
    padding-top: 10px;
  }