:root {
  --message-bg: gray;
  --message-hover-bg: rgb(74, 74, 74);
  --mention-bg: rgb(162, 162, 162);
  --mention-hover-bg: gray;
  --mention-indent: #f79d03;
}


/* Messages */
/* Normal messages */
.chatContent-3KubbW .message-2CShn3 {
  background: var(--message-bg, #111);
  margin-left: 80px;
  margin-right: 30px;
  box-shadow: 0 4px 10px var(--shadow);
}

/* Message spacing */
.chatContent-3KubbW .message-2CShn3 .contents-2MsGLg,
.message-2CShn3 .container-2sjPya {
  padding: 6px 6px 6px 20px;
  overflow: visible;
}

/* Content placement  */
.chatContent-3KubbW .cozy-VmLDNB.wrapper-30-Nkg {
  padding-left: 0px;
}

/* Avatar placement */
.chatContent-3KubbW .message-2CShn3 .avatar-2e8lTP {
  left: -60px;
  top: -5px;
}

/* Triangle */
.chatContent-3KubbW .message-2CShn3.groupStart-3Mlgv1::before {
  content: "";
  height: 0;
  width: -6px;
  position: absolute;
  top: -0.01px;
  left: -15px;
  height: 0;
  border-style: solid;
  border-width: 0 15px 10px 0;
  border-color: transparent var(--message-bg) transparent transparent
}

/* Mentions */
/* Mention background */
.chatContent-3KubbW .message-2CShn3.mentioned-Tre-dv {
  border-left: 5px solid var(--mention-indent);
  background: var(--mention-bg);
}

/* Triangle */
.chatContent-3KubbW .message-2CShn3.mentioned-Tre-dv.groupStart-3Mlgv1::before {
  border-color: transparent var(--mention-indent) transparent transparent;
  left: -21px;
  background: transparent;
}

/* Replies */
/* Avatar of user being replied to */
.chatContent-3KubbW .repliedMessage-3Z6XBG>img {
  display: none;
}

/* Name of user being replied to */
.chatContent-3KubbW .repliedMessage-3Z6XBG .username-h_Y3Us {
  margin-left: 5px;
}

/* Hide badge from replying users name */
.repliedMessage-3Z6XBG .ownerIcon-255uKo.icon-1dGlZy,
.threadMessageAccessory-2W9mjC .ownerIcon-255uKo.icon-1dGlZy {
  display: none;
}

/* Placement of bot tag on reply */
.executedCommand-14-SNW .botTag-1NoD0B,
.repliedMessage-3Z6XBG .botTag-1NoD0B,
.threadMessageAccessory-2W9mjC .botTag-1NoD0B {
  margin-left: 5px;
}

/* Hide reply symbol */
.chatContent-3KubbW .repliedMessage-3Z6XBG::before,
.cozy-VmLDNB.hasThread-3h-KJV:after {
  display: none;
}


/* Hide weird blue bit */
.replying-eZ7p5z:before {
  background: transparent;
}


/* Hovers */
/* Message hover */
.chatContent-3KubbW .message-2CShn3:hover {
  background-color: var(--message-hover-bg) !important;
}

/* Mention hover */
.chatContent-3KubbW .message-2CShn3.mentioned-Tre-dv:hover {
  background: var(--mention-hover-bg, #111) !important;
}

/* Little triangle */
.chatContent-3KubbW .message-2CShn3.groupStart-3Mlgv1:not(.mentioned-Tre-dv):hover::before {
  border-color: transparent var(--message-hover-bg) transparent transparent;
}

/* Message actions */
.wrapper-2vIMkT {
  background-image: var(--background-image);
}

/* Message timestamp */
.cozy-VmLDNB .timestamp-p1Df1m.alt-1dvXnH {
  left: -80px;
}
