  @import url("https://ghostmander.github.io/discordfont/DiscordFont.css"); /* Import Discord font */

/* 3d Text box+Search bar */
  .scrollableContainer-2NUZem, .da-searchBarComponent, .searchBar-3dMhjb {
    box-shadow: inset 0px 3px 10px black,
    0px 1px 2px gray !important;
    border: 1px solid rgb(233, 228, 228)
  }

    /* Right click menu */
  .menu-3sdvDG {
    animation: custom-menu-animation 250ms ease;
    transform-origin: top;
  }
  @keyframes custom-menu-animation {
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }

    /* USER POPOUT*/
  .userPopout-xaxa6l {
    width: 355px !important;
  }
  .popoutBanner-19WKGg, .popoutBannerPremium-1n96gg {
    width: auto;
    height: 145px;
  }
  .avatarWrapper-3r9PdD {
    top: calc(120px - calc(120px / calc(2/0.25)));
    left: calc(10vh * 2.1);
  }
  .connections-pPr4as {
    display: flex;
    margin-bottom: 6px;
    justify-content: center;
  }
  .userPopout-xaxa6l .profileBadges-ohc0Vu {
    display: none
  }
  .userPopout-xaxa6l .aboutMeSection-1Fw5Ia, .muted-3-7c5L {
    text-align: center;
    justify-content: center;
  }

    /* User modal */
  .focusLock-Ns3yie {
    width: 650px;
  }
  .body-r6_QPy {
    height: auto;
  }

    /* Channel tabs transparency */
  .channelTabs-selected, .titleBar-AC4pGV, .channelTabs-tabContainer {
    background: transparent !important;
  }
    /* Date viewer transparency */
  #dv-mount {
    background: transparent !important;
  }

		/* Animated channel buttons */
  .iconItem-F7GRxr {
    display: block !important;
  }
  .iconVisibility-sTNpHs .children-3rEycc {
	margin-right: calc(0px - 10px);
  }
  .iconVisibility-sTNpHs .iconItem-F7GRxr {
    opacity: 0;
    z-index: 1;
  }
  .containerDefault--pIXnN.selected-3LIHYU .children-3rEycc,
  .iconVisibility-sTNpHs:hover .children-3rEycc {
    margin-right: 0;
  }
  .containerDefault--pIXnN.selected-3LIHYU .iconItem-F7GRxr,
  .iconVisibility-sTNpHs:hover .iconItem-F7GRxr {
    opacity: 1;
  }
  .iconVisibility-sTNpHs .children-3rEycc,
  .iconVisibility-sTNpHs .iconItem-F7GRxr,
  .iconVisibility-sTNpHs .userLimit-3aerPX,
  .iconVisibility-sTNpHs:hover .wrapper-2tAnRe {
    transition-duration: .25s;
  }

/* 
Link spoof
*/
.markup-2BOw-j .spoilerText-3p6IlD {
  padding: 0%;
}



/* 
Watermark
*/
.div[class*="typeWindows-"]::after {
    content: 'Clearvision - by Ranger';
    font-weight: 5000;
    line-height: 31px;
    color: var(--text-muted);
    font-family: Discord;
    font-size: 15px;
    position: absolute;
    padding: 0 9px;
    top: -4.5px;
    left: 0;
    width: 100%;
    height: 30px;
    background: rgba(var(--black), 0.85);
    z-index: -1;
  }
  .typeWindows-1za-n7 > .wordmark-2iDDfm{
    opacity: 0;
  }