    /*text shadow removal*/
  .wrapper-2jXpOf.modeUnread-1qO3K1 .content-1x5b-n .mainContent-u_9PKf .name-23GUGE,.wrapper-2jXpOf.modeUnread-1qO3K1 .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz{
    filter: none !important;
    text-shadow: none !important;
  }
    /*Remove mobile icon*/
  #app-mount .wrapper-3t9DeA foreignObject[mask*=mobile]:after{
    display: none !important;
  }
    /* Minify stickers */
  .cozy-3raOZG .assetWrapper-3GNt0z {
    max-width: 100px;
    max-height: 100px
  }
  /*Hide sticker and gif button*/
  .stickerButton-3OEgwj, #sticker-picker-tab {display: none}
  .buttons-3JBrkn  > .button-38aScr:not(.BD-TeX-plugin-button)  > :not(.translateButton-DhP9x8):not(.quickToggleButton-P2xDh8) {
    display:none;
  }
    /*Banner Fading*/
  .userPopout-xaxa6l .popoutBanner-19WKGg, /*User image*/
  .userPopout-xaxa6l .popoutBannerPremium-1n96gg,
  .container-3w7J-x .bannerImage-3KhIJ6 /*Server banner*/
  {
    -webkit-mask: none !important;
    mask: none;
  }
    /* Settings, mute, deafen */
  .container-3baos1 > .flex-1O1GKY > :nth-child(n+2):before, .container-1giJp5 > .flex-1O1GKY > :nth-child(n+2):before {
    display: none;
  }